*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Roboto, serif;
    font-size: 1.6rem;
    background-color: azure;
    color: #333;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
}

header {
    display: grid;
    grid-template-columns: 100%;
    align-self: center;
    margin: 40px 0;
}

h1 {
    font-size: 100px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 28px;
    width: 100%;
    text-align: center;
}

.tribute {
    display: flex;
    gap: 200px;
}

